:root{
    --primary: #ffc700;
    --bg: #ffff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body{
    font-family: 'Mada',sans-serif;
    background: url("/img/boxed-water-is-better-x6bEiwivoO4-unsplash.jpg");
    background-size: cover  ;
    min-height: 0px;
}

.van .love .kotako{
    border-radius: 15px;
    margin-top: 30vh;
    margin-left: 10vw;
    width: 80vw;
    height: 110vh;
    background: rgba(0,0,0,0.5);;
}

.van .love .kotako h1{
    
    font-size: 4em;
    color: white;
    text-align: center;
}

.van .love .kotako p{
    margin-left: 5vw;
    font-size: 1.5rem;
    color: white;
}

.van .love .kotako input{
    margin-left: 5vw;
    font-size: 1.5rem;
    width: 70vw;
    height: 5vh;
    text-indent: 1vw;
    border-radius: 10px;
}

.van .love .kotako #room{
    margin-left: 5vw;
    font-size: 1.5rem;
    width: 70vw;
    height: 5vh;
    text-indent: 1vw;
    border-radius: 10px;
}

.van .love .kotako .tombol{
    margin-left: 33vw;
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    color: white;
    background-color: var(--primary);
    border-radius: 0.5rem;
    box-shadow: 1px 1px 3px rgba(1,1,3,0.5);
}

.van .love .kotako .tombol:hover{
    color: var(--primary);
    background-color: white;
}

.van .love #error{
    color: var(--primary);
    margin-left: 5vw;
}

.van .love #error2{
    color: var(--primary);
    margin-left: 5vw;
}

.van .love #error3{
    color: var(--primary);
    margin-left: 5vw;
}

.van .love #error4{
    color: var(--primary);
    margin-left: 5vw;
}

.van .love #error5{
    color: var(--primary);
    margin-left: 5vw;
}


